/* CSS Progress Pie by Olivia Ng | MIT License | github.com/oliviale/css-progress-pie*/

.progress-pie-color {
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    background: #eee;
    position: relative;
    display: inline-block;
}

.progress-pie-color::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
}

.progress-pie-color::after {
    content: attr(data-value);
    position: absolute;
    width: 70%;
    height: 70%;
    margin: auto;
    border-radius: 50%;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    font: 900 20px/41px Lato;
}

@for $i from 0 through 40 {
    .progress-pie-color[data-value="#{$i}"] {
        background-image: linear-gradient(to right, transparent 50%, #cc0000 0);
        &:before {
            transform: rotate(#{$i/100}turn);
        }
    }
}

@for $i from 41 through 50 {
    .progress-pie-color[data-value="#{$i}"] {
        background-image: linear-gradient(to right, transparent 50%, #ffcf3a 0);
        &:before {
            transform: rotate(#{$i/100}turn);
        }
    }
}

@for $i from 51 through 70 {
    .progress-pie-color[data-value="#{$i}"] {
        background-image: linear-gradient(to right, transparent 50%, #ffcf3a 0);
        &:before {
            background-color: #ffcf3a;
            transform: rotate(#{$i/100 - .5}turn);
        }
    }
}

@for $i from 71 through 100 {
    .progress-pie-color[data-value="#{$i}"] {
        background-image: linear-gradient(to right, transparent 50%, #09944a 0);
        &:before {
            background-color: #09944a;
            transform: rotate(#{$i/100 - .5}turn);
        }
    }
}
